@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Ubuntu', sans-serif; 
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(206, 94%, 87%);
}
.container{
    width:60%;
    height: 75%;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}
#sidebar{
    width: 274px;
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 20px;
    
}
.step{
    display: flex;
    margin: 25px;
    text-transform: uppercase;
}
.step_number{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step_text{
    margin-left: 20px;
}
.white{
    color:white;
}
.gray{
    color: hsl(231, 11%, 63%);
    font-size: 14px;
}
#form{
    height: 100%;
    padding: 55px;
    position: relative;
}
.hidden{
    display: none;
}
.end{
    position: absolute;
    bottom: 55px;
    right: 55px;
}
.head{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0px;
}
.sub-heading{
    margin: 10px 0px;
    color:hsl(231, 11%, 63%);
}
input{
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border-color: hsl(231, 11%, 63%);
    margin-top: 5px;
    font-size: 16px;
}
form>div{
    margin: 20px 0px;
}
button{
    padding: 10px 15px;
    background-color: hsl(213, 96%, 18%);
    color: white;
    border-radius: 10px;
}